.whiteFrameMainClass{
	width: 50%;
	height: 400px;
	overflow-y: auto;
	z-index: 100;
	position: absolute;
	top: 10%;
	left: 25%;
	background-color: #FFF;
}

.whiteFrameMainClass > .minimizeAreaClass > .minimizeSubAreaClass > div{
	height: 360px;
}

.fullWhiteFrameMainClass{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	z-index: 100;
	position: absolute;
	top: 0%;
	background-color: #FFF;
	left: 0%;
}

.fullWhiteFrameMainClass > .minimizeAreaClass > .minimizeSubAreaClass > div{
	height: 100%;
}

.icon-button{
	background: transparent;
	border: none;
	cursor: pointer;
	float: right;
	margin-left: 5px;
	font-color: #000;
	outline: none;
}

.toolBar{
	background-color: rgb(252, 252, 252);
    padding: 0;
    margin: 0;
    height: 37px;
    line-height: 38px;
    font-size: 19px;
    font-family: Titillium Web;
    font-weight: 600;
    border-bottom: 1px solid #C1C1C1;
}

.maskedBackground{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	z-index: 99;
	position: absolute;
	top: 0%;
	background-color: rgba(80,80, 80, 0.5);
	left: 0%;
}