<link rel="stylesheet" href="modules/listApp/assets/styles/style.css" type="text/css">
<div class="complete-content" style="margin-top:70px; background:rgba(252,252,252,1); border-bottom:1px inset #D7D7D7;">
    
    <div class="container" style="padding:0px;"> 
    
    	<div  class="col-md-6 col-lg-6 col-sm-6 col-xs-6" align="left" id="heading">Tasks List</div>
            
    	<div  class="col-md-6 col-lg-6 col-sm-6 col-xs-6" align="right" id="headingright">
            <add-task></add-task>
        </div>
    
    </div>
            
</div>

<div class="complete-content" style="margin-top:0px; background:rgba(235,235,235,1); min-height:600px;">
    
    <div class="container" style="padding:0px;"> 
    
    	<div class="col-md-3 col-lg-3 hidden-sm hidden-xs pull-right">
        
        	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background:#FFF; margin-top:25px; padding:15px 15px; position:relative;">
            
            	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="leftbox">
                	Search
                </div>
            
            	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="searchbox">
                	<input type="text" placeholder="Search" name="search" id="searchtextbox" />
                    <div id="go">GO</div>
                </div>
            
            </div>
        
        	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background:#FFF; margin-top:25px; padding:15px 15px;">
            
            	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="leftbox2">
                	Recent Posts
                </div>
            
            	<div align="justify" class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="post" ng-repeat="post in posts">
                	{{post}}
                </div>
            
            </div>
        
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background:#FFF; margin-top:25px; padding:15px 15px;">
            
            	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="leftbox2">
                	Recent News
                </div>
            
            	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="news" style="padding:0px; margin:0px; padding-top:12px;" ng-repeat="currentNews in news">
                	<div id="day">{{currentNews.day}}<br /><font>{{currentNews.month}}</font></div>
                    <div align="justify" id="newsinfo">{{currentNews.news}}</div>
                </div>
                        
            </div>
        
        </div>

        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12" ng-repeat="currentTask in tasks">

            <show-task task-index='{{$index}}' ng-click="selectCurrentTask(currentTask)"></show-task>
            
        </div>
            
    
    </div>
            
</div>


<custom-whiteframe name="Task Info" style="display: none;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-lg-4 col-sm-5 col-xs-5 whiteframeOptions" style="padding: 0; margin: 0; height: inherit; border-right: 1px solid #C1C1C1;">
            <div layout="row" ng-click="changeView('Info')" ng-class="{highlightView: showView === 'Info'}">
                Info
            </div>
            <div layout="row" ng-click="changeView('Action')" ng-class="{highlightView: showView === 'Action'}">
                Action Type Operation
            </div>
            <div layout="row" ng-click="changeView('Document')" ng-class="{highlightView: showView === 'Document'}">
                Document
            </div>
            <div layout="row" ng-click="changeView('Attribute')" ng-class="{highlightView: showView === 'Attribute'}">
                Action Attribute
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-7 col-xs-7 whiteframeOptionValue" style="padding: 0; margin: 0; height: inherit; overflow-y: auto; overflow-x: hidden;">
            <div layout="row" ng-if="showView === 'Info'">
                <font>Info</font>
                <div layout="row">
                    <span class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Legal Action</span>
                    <span class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{currentTask.Legal_Action_Type.legal_action}}</span>
                </div>
                <div layout="row">
                    <span class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Template</span>
                    <span class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{currentTask.Legal_Action_Type.template}}</span>
                </div>
                <div layout="row">
                    <span class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Historical</span>
                    <span class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{currentTask.Legal_Action_Type.historical}}</span>
                </div>
                <div layout="row">
                    <span class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Created At</span>
                    <span class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{currentTask.Legal_Action_Type.createdAt.split("T")[0]}} - {{currentTask.Legal_Action_Type.createdAt.split("T")[1].substr(0, 8)}}</span>
                </div>
                <div layout="row">
                    <span class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Updated At</span>
                    <span class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{currentTask.Legal_Action_Type.updatedAt.split("T")[0]}} - {{currentTask.Legal_Action_Type.updatedAt.split("T")[1].substr(0, 8)}}</span>
                </div>
            </div>
            <div layout="row" ng-if="showView === 'Action'">
                <font>Action Type Operation</font>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="action in currentTask.Legal_Action_Type.Action_Type_Operation" style="margin: 0; padding: 0; border: 1px solid #C0C0C0;">

                    <div data-toggle="collapse" data-target="{{'#' + action.id}}" class="documentStyle">{{action.url}}</div>

                    <div id='{{action.id}}' class="collapse">
                        <div layout="row" style="padding: 0; margin: 0;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">operation</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                                {{action.operation}}
                            </div>
                        </div>
                        <div layout="row" style="padding: 0; margin: 0;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">url</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{action.url}}</div>
                        </div>
                        <div layout="row" style="padding: 0; margin: 0;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Created On</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{action.created_at.split("T")[0]}} - {{action.created_at.split("T")[1].substr(0, 8)}}</div>
                        </div>
                        <div layout="row" style="padding: 0; margin: 0;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Updated On</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{action.updated_at.split("T")[0]}} - {{action.updated_at.split("T")[1].substr(0, 8)}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" ng-if="showView === 'Document'" style="padding: 0; margin: 0;">
                <font>Document</font>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="document in currentTask.Documents" style="margin: 0; padding: 0; border: 1px solid #C0C0C0;">

                    <div data-toggle="collapse" data-target="{{'#' + document.name.split('.')[0]}}" class="documentStyle">{{document.name.split(".")[0]}}</div>

                    <div id='{{document.name.split(".")[0]}}' class="collapse">
                        <div layout="row" style="padding: 0; margin: 0;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Url</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                                {{document.url | limitTo: 25}}<span ng-if="document.url.length > 25">...</span>
                            </div>
                        </div>
                        <div layout="row" style="padding: 0; margin: 0;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Comments</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{document.comments}}</div>
                        </div>
                        <div layout="row" style="padding: 0; margin: 0;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Created On</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{document.created_at.split("T")[0]}} - {{document.created_at.split("T")[1].substr(0, 8)}}</div>
                        </div>
                        <div layout="row" style="padding: 0; margin: 0;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Updated On</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{document.updated_at.split("T")[0]}} - {{document.updated_at.split("T")[1].substr(0, 8)}}</div>
                        </div>
                        <div layout="row" style="padding: 0; margin: 0;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Executed Date</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{document.doc_executed_date.split("T")[0]}} - {{document.doc_executed_date.split("T")[1].substr(0, 8)}}</div>
                        </div>
                        <div layout="row" style="padding: 0; margin: 0; border-bottom: 1px solid #C0C0C0; margin-bottom: 5px;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">Expiry Date</div>
                            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{document.doc_expiry_date.split("T")[0]}} - {{document.doc_expiry_date.split("T")[1].substr(0, 8)}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" ng-if="showView === 'Attribute'">
                <font>Action Attribute</font>
                <div layout="row">
                    <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Value</span>
                    <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{currentTask.Action_Attribute.value}}</span>
                </div>
                <div layout="row">
                    <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Created At</span>
                    <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{currentTask.Action_Attribute.created_at.split("T")[0]}} - {{currentTask.Action_Attribute.created_at.split("T")[1].substr(0, 8)}}</span>
                </div>
                <div layout="row">
                    <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Value</span>
                    <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{currentTask.Action_Attribute.updated_at.split("T")[0]}} - {{currentTask.Action_Attribute.updated_at.split("T")[1].substr(0, 8)}}</span>
                </div>

            </div>
        </div>
    </div>
</custom-whiteframe>

